.sidebar #retas-e-poligonos {
  color: black;
  background-color: whitesmoke;
  border-radius: 10px;
}

canvas {
  background-color: white;
  bottom: 5px solid #31053b;
}

p {
  font-size: 1.2em;
  color: #e7dee9;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}