.sidebar #sidebar-home{
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
}

#apresentacao{
    margin-top: 10%;
    background-color: black;
    p{
        text-align: center;
        color: #A6A6A6;
        font-size: x-large;
    }

    span{
        margin: 1%;
        position:relative;
        font-size: 1rem;
        color: black; 
        align-self: center;
    }
    h2{
        text-align: center;
        color: #A6A6A6;
    }
}


#projeto{
    margin-top: 10%;
    background-color: #A6A6A6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    

    h1{
        color: black;
        text-align: center;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    h5 {
        position: relative; 
        text-align: center;
        background-color: rgba(166, 166, 166, 0.6);
        color: black;
        border-radius: 10px;
    }

    p {
        color: black;
        background-color: rgba(166, 166, 166, 0.6);
        text-align: center;
        padding: 5px 0;
        border-radius: 10px;
    }
}


.tecnologias{
    background-color: #A6A6A6;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    margin-left: 0;

    h2{
        color: black;
    }
}

#tech-icons{
    background-color: #A6A6A6;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    i{
        font-size: 2rem; 
        margin: 5px;
    }
    
}