html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch", serif;
    background-color: black;
    overflow-x: hidden;
    background-image: url('../../images/home/undertale.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

  .wrapper { /* para nao puxar o padrao do bootstrap */
    display: flex;
    height: 100vh;
  }

/* ----------- SIDE BAR -----------------------------------*/
  .sidebar {
    justify-content: center;
    display: flex;
    flex-direction: column;   /* Coloca os itens um embaixo do outro */
    justify-content: center; /* flex-start:topo flex-end: baixo center: centro */
    position: fixed;
    width: 130px;
    height: 100vh;
    background-color: black;
    border: 3px solid gray;
    
  }

  .sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: large;
  }

  #apresentacao{
    margin-top: 10%;
    background-color: black;
    p{
        text-align: center;
        color: #A6A6A6;
        font-size: x-large;
    }

    span{
        margin: 1%;
        position:relative;
        font-size: 1rem;
        color: black; 
        align-self: center;
    }
    h2{
        text-align: center;
        color: #A6A6A6;
    }
}

#projeto{
    margin-top: 10%;
    background-color: #A6A6A6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    

    h1{
        color: black;
        text-align: center;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    h5 {
        position: relative; 
        text-align: center;
        background-color: rgba(166, 166, 166, 0.6);
        color: black;
        border-radius: 10px;
    }

    p {
        color: black;
        background-color: rgba(166, 166, 166, 0.6);
        text-align: center;
        padding: 5px 0;
        border-radius: 10px;
    }
}


.tecnologias{
    background-color: #A6A6A6;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    margin-left: 0;

    h2{
        color: black;
    }
}

#tech-icons{
    background-color: #A6A6A6;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    i{
        font-size: 2rem; 
        margin: 5px;
    }
    
}




.proffissional-path{
    background-color: black;
    margin: 2%;
    padding: 5%;
    h1{
        color: white;
    }
    ul.tree, ul.tree ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    ul.tree ul {
        margin-left: 20px;
    }
    
    ul.tree li {
        margin: 0;
        padding: 0 10px;
        line-height: 28px;
        color: #369;
        font-weight: bold;
        font-size: 18px;
        border-left: 3px solid rgb(100,100,100);
    }
    
    ul.tree li:last-child {
        border-left: none;
    }
    
    ul.tree li:before {
        position: relative;
        top: -0.4em;
        height: 1em;
        width: 16px;
        color: white;
        border-bottom: 3px solid rgb(100,100,100);
        content: "";
        display: inline-block;
        left: -10px;
    }
    
    ul.tree li:last-child:before {
        border-left: 3px solid rgb(100,100,100);
    }
    
    ul.tree li.year{
        color: white;
        font-size: x-large;
    }
    
    ul.tree li.title{
        color: #009929;
        font-size: large;
    }
    
    ul.tree li.subtitle{
        color: #5ccb5f;
        font-size: medium;
    }
    
    ul.tree li.description{
        color: grey;
        font-size: small;
    }

}

.github-stuff{
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    img{
        margin: 1%;
    }
    h1{
        color: #2ea44f;
    }
    .github-stats{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
}

footer {
    width: 100%;
    background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
    border-radius: 10px;
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        display: inline-block;
        margin: 0 10px;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }

    .bi {
        margin: 1%;
        position:relative;
        font-size: 3rem;
        color: white; 
        align-self: center;
    }

    img{
        width: 4rem;
        &#right{
            float: right; 
            margin-left: 20px; 
            margin-top: 0; 
        }
        &#left{
            float: left; 
            margin-right: 20px; 
            margin-top: 0; 
        } 
    }
}


